.certify {

    label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
    }

    input,
    textarea {
        width: 100%;
        @include input-placeholder {
            opacity: 0.5;
        }
    }

    p, ul, ol {
        margin: 0;
    }

    select {
        width: 100%;
    }

    a.button-plain {
        border: none;
        transition: none;
        background: none;

        &:hover {
            border: none;
            transition: none;
            background: none;
        }

        &:active,
        &:focus,
        &:visited {
            border: none;
            box-shadow: none;
            transition: none;
        }
    }

    .row > div > p,
    .row > div > ul,
    .row > div > ol {
        padding-top: 5px;
    }

    .input-label {
        font-weight: 400;
    }

    .input-radio {
        line-height: 30px;
    }

    .row {
        padding-top: 5px;
    }

    .row + .row {
        margin-top: 15px;
        border-top: 1px solid #eee;
    }

    .description {
        display: block;
        padding: 5px 0 0;
        color: #999;
    }

    .description-block {
        display: block;
    }

    .inner-row {
        display: flex;
        width: 100%;
    }
}
